a.menu{font-family:arial; font-size:12px; color:#FFFFFF; font-weight:bold; text-decoration:none;};
a.menu:hover{font-family:arial; font-size:12px; color:#FF0000; font-weight:bold; text-decoration:none;};
A{font-family:"verdana"; font-size:10pt; color:#FFFFFF; text-decoration:none; font-weight:bold;};;
A.link{font-family:"verdana"; font-size:10pt; color:#FFFFFF; text-decoration:none; font-weight:bold;};
A.hover{font-family:"verdana"; font-size:8pt; color:red; text-decoration:none; font-weight:bold;};
P{font-family:"arial"; line-height:175%; color:black; font-size:12px; text-align:justify};
UL{font-family:"arial"; line-height:150%; color:black; font-size:12px; text-align:justify};
LI{font-family:"arial"; line-height:150%; color:black; font-size:12px; text-align:justify};
big{font-family:"arial"; color:#330099; font-size:12px; text-align:justify; font-weight:normal};

.xmec{font-family:"verdana"; font-size:10pt; color:#0000FF; text-decoration:none; font-weight:bold;};
.xmec:hover{font-family:"verdana"; font-size:10pt; color:#FF0000; text-decoration:underline; font-weight:bold;};
.record{font-family:"courier"; font-size:10pt; color:#FF0000; text-decoration:none; font-weight:bold;};
.sbecord{font-family:"courier"; font-size:10pt; color:black; text-decoration:none; font-weight:bold;};
.becord{font-family:"courier"; font-size:10pt; color:black; text-decoration:none; font-weight:normal;};

.body{font-family:"verdana"; font-size:8pt; color:#000000; text-decoration:none; font-weight:normal;};

.slink{font-family:"verdana"; font-size:8pt; color:#0000FF; text-decoration:none; font-weight:normal;};
.slink:hover{font-family:"verdana"; font-size:8pt; color:#FF0000; text-decoration:underline; font-weight:normal;};

.stitle{font-family:"verdana"; font-size:10pt; color:#000000; text-decoration:none; font-weight:bold;};

.title
{position: absolute;
height: 17px;
left: 0px;
font-family: verdana, helvetica, sans-serif;
font-weight: bold;
font-size: 12px;
visibility: visible;}

.submenu
{position: absolute;
left: 0px;
width: 140px;
border: 0px;
font-family: arial,verdana, helvetica, sans-serif; 
font-color:#ffffff;
font-weight: bold;
font-size: 12px;
visibility: hidden;}

.back
{width: 100px;
height: 18px;
bgcolor:red
font-family: arial, helvetica, sans-serif;
font-weight: bold;
font-size: 8px;}
